Development-Main/Source/Marathon.Kittyhawk.Common/Service References/BulkTransferBus/KHBulkTrans_Async_Out.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p2="http://mpc.com/sdpt/kittyhawk/2012/01/01/BulkTransfer" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://mpc.com/endeavour/BulkTrans_3rdPartyKHtoSRA" name="KHBulkTrans_Async_Out" targetNamespace="http://mpc.com/endeavour/BulkTrans_3rdPartyKHtoSRA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_KHBulkTrans_Async_Out" />
  <wsdl:types>
    <xsd:schema xmlns="http://mpc.com/sdpt/kittyhawk/2012/01/01/Location" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" targetNamespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/Location" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:complexType name="Location">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="Abbreviation" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="City" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Country" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ID" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="LocationKey" type="xsd:int" />
          <xsd:element minOccurs="0" form="qualified" name="Name" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="SAPProfitCenter4500" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="SAPProfitCenter4502" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="SAPProfitCenter4504" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="StateOrProvince" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Timestamp" type="xsd:dateTime" />
          <xsd:element minOccurs="0" form="qualified" name="Type" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://schemas.microsoft.com/2003/10/Serialization/" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="guid">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns="http://mpc.com/sdpt/kittyhawk/2012/01/01/Vehicle" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" targetNamespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/Vehicle" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:complexType name="Vehicle">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="Comments" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ID" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="MaxQuantity" type="xsd:double" />
          <xsd:element minOccurs="0" form="qualified" name="Name" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Timestamp" type="xsd:dateTime" />
          <xsd:element minOccurs="0" form="qualified" name="Type" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="VehicleKey" type="xsd:int" />
          <xsd:element minOccurs="0" form="qualified" name="YearBuilt" nillable="true" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://mpc.com/sdpt/kittyhawk/2012/01/01/Transport" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" targetNamespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/Transport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:complexType name="Transport">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="ID" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="Name" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Timestamp" type="xsd:dateTime" />
          <xsd:element minOccurs="0" form="qualified" name="TransportType" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://mpc.com/sdpt/kittyhawk/2012/01/01/Product" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" targetNamespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/Product" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:complexType name="Product">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="Abbreviation" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Commodity" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Density" type="xsd:double" />
          <xsd:element minOccurs="0" form="qualified" name="Energy" type="xsd:double" />
          <xsd:element minOccurs="0" form="qualified" name="Gravity" type="xsd:double" />
          <xsd:element minOccurs="0" form="qualified" name="ID" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="Name" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ProductKey" type="xsd:int" />
          <xsd:element minOccurs="0" form="qualified" name="SAPMaterialRaw" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="SAPMaterialRefined" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="SubGroup" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="SweetSour" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Timestamp" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:q2="http://mpc.com/sdpt/kittyhawk/2012/01/01/Product" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns="http://mpc.com/sdpt/kittyhawk/2012/01/01/Container" xmlns:q1="http://mpc.com/sdpt/kittyhawk/2012/01/01/Location" targetNamespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/Container" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/Location" />
      <xsd:import namespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/Product" />
      <xsd:complexType name="Container">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="Bottom" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" form="qualified" name="BottomUnit" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Capacity" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" form="qualified" name="CapacityUnit" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Facility" nillable="true" type="q1:Location" />
          <xsd:element minOccurs="0" form="qualified" name="FacilityID" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="ID" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="Name" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="OutOfService" type="xsd:boolean" />
          <xsd:element minOccurs="0" form="qualified" name="Product" nillable="true" type="q2:Product" />
          <xsd:element minOccurs="0" form="qualified" name="ProductID" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="Timestamp" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://mpc.com/sdpt/kittyhawk/2012/01/01/BusinessAssociate" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" targetNamespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/BusinessAssociate" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:complexType name="BusinessAssociate">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="Abbreviation" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="BAKey" type="xsd:int" />
          <xsd:element minOccurs="0" form="qualified" name="ClassOfTrade" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ContactBirthDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" form="qualified" name="ContactDepartment" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ContactEmail" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ContactFax" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ContactFirstName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ContactID" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" form="qualified" name="ContactLastName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ContactLocationName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ContactMiddleInitial" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ContactPager" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ContactPhone" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ContactPostalRoute" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ContactTitle" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="FederalTax" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ID" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="LegacyID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Name" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="NetOutCustomer" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="SAPCompany" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="SAPCustomer" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="SAPVendor" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="SCAC" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Timestamp" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:q2="http://mpc.com/sdpt/kittyhawk/2012/01/01/Container" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:q11="http://mpc.com/sdpt/kittyhawk/2012/01/01/Vehicle" xmlns:q10="http://mpc.com/sdpt/kittyhawk/2012/01/01/Transport" xmlns:q1="http://mpc.com/sdpt/kittyhawk/2012/01/01/BusinessAssociate" xmlns="http://mpc.com/sdpt/kittyhawk/2012/01/01/BulkTransfer" xmlns:q4="http://mpc.com/sdpt/kittyhawk/2012/01/01/Location" xmlns:q7="http://mpc.com/sdpt/kittyhawk/2012/01/01/Product" targetNamespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/BulkTransfer" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/Vehicle" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/BusinessAssociate" />
      <xsd:import namespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/Transport" />
      <xsd:import namespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/Location" />
      <xsd:import namespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/Product" />
      <xsd:import namespace="http://mpc.com/sdpt/kittyhawk/2012/01/01/Container" />
      <xsd:element name="ArrayOfBulkTransfer" nillable="true" type="p2:ArrayOfBulkTransfer" />
      <xsd:complexType name="ArrayOfBulkTransfer">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="BulkTransfer" nillable="true" type="p2:BulkTransfer" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BulkTransfer">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="ActionCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ActivityIndicator" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="BatchIdentifier" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="CarStatus" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Carrier" nillable="true" type="q1:BusinessAssociate" />
          <xsd:element minOccurs="0" form="qualified" name="CarrierCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="CarrierID" nillable="true" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="Comments" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Container" nillable="true" type="q2:Container" />
          <xsd:element minOccurs="0" form="qualified" name="ContainerID" nillable="true" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="ContractNumber" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="CountryCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Customer" nillable="true" type="q1:BusinessAssociate" />
          <xsd:element minOccurs="0" form="qualified" name="CustomerCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="CustomerID" nillable="true" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="DataSource" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="DataSourceID" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="Destination" nillable="true" type="q4:Location" />
          <xsd:element minOccurs="0" form="qualified" name="DestinationContainerCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="DestinationFacilityCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="DestinationID" nillable="true" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="DestinationProductCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ETA" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" form="qualified" name="ErrorStatus" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Facility" nillable="true" type="q4:Location" />
          <xsd:element minOccurs="0" form="qualified" name="FacilityID" nillable="true" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="Gravity" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" form="qualified" name="GrossQuantity" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" form="qualified" name="GrossQuantityUnit" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ID" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="IsDirty" type="xsd:boolean" />
          <xsd:element minOccurs="0" form="qualified" name="IsFreeRunner" nillable="true" type="xsd:boolean" />
          <xsd:element minOccurs="0" form="qualified" name="IsPublished" type="xsd:boolean" />
          <xsd:element minOccurs="0" form="qualified" name="IsSupplierShipment" nillable="true" type="xsd:boolean" />
          <xsd:element minOccurs="0" form="qualified" name="IsThirdParty" nillable="true" type="xsd:boolean" />
          <xsd:element minOccurs="0" form="qualified" name="LoadOrUnload" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="NetQuantity" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" form="qualified" name="NetQuantityUnit" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Origin" nillable="true" type="q4:Location" />
          <xsd:element minOccurs="0" form="qualified" name="OriginContainerCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="OriginFacilityCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="OriginID" nillable="true" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="OriginProductCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ProcessIdentifier" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Product" nillable="true" type="q7:Product" />
          <xsd:element minOccurs="0" form="qualified" name="ProductID" nillable="true" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="ProgressLandmark" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ProgressLandmarkTimestamp" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" form="qualified" name="RVP" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" form="qualified" name="ScheduledQuantity" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" form="qualified" name="ScheduledQuantityUnit" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Shipper" nillable="true" type="q1:BusinessAssociate" />
          <xsd:element minOccurs="0" form="qualified" name="ShipperCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="ShipperID" nillable="true" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="ShortTicketNumber" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="SourceDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" form="qualified" name="SourceID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="SourceRecord" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Supplier" nillable="true" type="q1:BusinessAssociate" />
          <xsd:element minOccurs="0" form="qualified" name="SupplierCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="SupplierID" nillable="true" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="Temperature" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" form="qualified" name="TicketNumber" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Timestamp" type="xsd:dateTime" />
          <xsd:element minOccurs="0" form="qualified" name="TransferEnd" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" form="qualified" name="TransferStart" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" form="qualified" name="TransferType" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Transport" nillable="true" type="q10:Transport" />
          <xsd:element minOccurs="0" form="qualified" name="TransportCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="TransportID" nillable="true" type="ser:guid" />
          <xsd:element minOccurs="0" form="qualified" name="TransportType" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="Vehicle" nillable="true" type="q11:Vehicle" />
          <xsd:element minOccurs="0" form="qualified" name="VehicleCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="VehicleID" nillable="true" type="ser:guid" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.ArrayOfBulkTransfer">
    <wsdl:documentation />
    <wsdl:part name="ArrayOfBulkTransfer" element="p2:ArrayOfBulkTransfer" />
  </wsdl:message>
  <wsdl:portType name="KHBulkTrans_Async_Out">
    <wsdl:documentation />
    <wsdl:operation name="KHBulkTrans_Async_Out">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_KHBulkTrans_Async_Out" />
      </wsp:Policy>
      <wsdl:input message="p1:p2.ArrayOfBulkTransfer" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KHBulkTrans_Async_OutBinding" type="p1:KHBulkTrans_Async_Out">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="KHBulkTrans_Async_Out">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KHBulkTrans_Async_OutService">
    <wsdl:port name="HTTP_Port" binding="p1:KHBulkTrans_Async_OutBinding">
      <address location="http://sapci00xid.mgroupnet.com:50000/XIAxisAdapter/MessageServlet?senderParty=&amp;senderService=Endeavour_KittyHawk&amp;receiverParty=&amp;receiverService=&amp;interface=KHBulkTrans_Async_Out&amp;interfaceNamespace=http%3A%2F%2Fmpc.com%2Fendeavour%2FBulkTrans_3rdPartyKHtoSRA" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:KHBulkTrans_Async_OutBinding">
      <address location="https://sapci00xid.mgroupnet.com:50001/XIAxisAdapter/MessageServlet?senderParty=&amp;senderService=Endeavour_KittyHawk&amp;receiverParty=&amp;receiverService=&amp;interface=KHBulkTrans_Async_Out&amp;interfaceNamespace=http%3A%2F%2Fmpc.com%2Fendeavour%2FBulkTrans_3rdPartyKHtoSRA" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>